
body {
    font-family: Arial, sans-serif;
    background-color: #EAF2F8;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 80%;
    background-color: #D1F2EB;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.navbar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.home-icon, .cart-icon {
    font-size: 24px;
    text-decoration: none;
    color: #000;
}

.checkout-section {
    text-align: center;
    margin-bottom: 20px;
}

.checkout-btn {
    background-color: #3498DB;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
}

.checkout-btn:hover {
    background-color: #2980B9;
}

.cart-section {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
}

.cart-section h2 {
    margin-bottom: 20px;
    font-size: 22px;
    color: #333;
}

.cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.cart-item img {
    width: 80px;
    height: auto;
    margin-right: 20px;
}

.item-details {
    flex-grow: 1;
}

.item-details h3 {
    font-size: 18px;
    margin: 0 0 10px 0;
}

.actions {
    display: flex;
    align-items: center;
}

.quantity-btn {
    background-color: #EAF2F8;
    border: 1px solid #3498DB;
    padding: 5px 10px;
    font-size: 16px;
    margin-right: 15px;
    cursor: pointer;
}

.remove-btn, .save-btn {
    background-color: #FF6F6F;
    color: white;
    border: none;
    padding: 10px 15px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.save-btn {
    background-color: #A9DFBF;
}

.remove-btn:hover {
    background-color: #E74C3C;
}

.save-btn:hover {
    background-color: #82E0AA;
}