body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

header {
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-size: 24px;
    margin: 0;
}

input[type="text"] {
    padding: 10px;
    font-size: 16px;
    width: 300px;
}

.filter-options {
    display: flex;
    align-items: center;
    gap: 10px;
}

.filter-options button, .filter-options input[type="range"] {
    padding: 10px;
    font-size: 14px;
    border: none;
    background-color: #eaeaea;
    cursor: pointer;
}

.products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}

.product-card {
    background-color: white;
    padding: 20px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
}

.product-card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.product-card h2 {
    font-size: 18px;
    margin: 10px 0;
}

.product-card p {
    font-size: 14px;
    color: #333;
}

.rent-price {
    font-weight: bold;
    color: green;
}

.actual-price {
    text-decoration: line-through;
    color: red;
}

button {
    padding: 10px 20px;
    background-color: green;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}

button:hover {
    background-color: darkgreen;
}
 header .btn{
    background-color: #3eb07b;
}
.product-card .images{
    width: 70px;
    height: 20px;
}
h5{
    opacity: 0.3;
}
.back{
    text-decoration: none;
    background-color: #3eb07b;
    border-radius: 5px;
    color: white;
    height: 30px;
    text-align: center;
    font-size: smaller;
}
.btn-contact:hover {
    background-color: #0056b3;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .btn-contact:active {
    background-color: #004080;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  
  .btn-contact:focus {
    outline: 3px solid #80bdff
  }
  .btn-contact {
    display: inline-block;
    padding: 12px 24px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
  }